@import url(base.css);


html{
    background:  transparent linear-gradient(135deg, #901919 0%, #F94B4B 100%) repeat fixed 0% 0%;
    background: -moz-linear-gradient(-135deg,  rg#901919 0%, #F94B4B  100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#901919), color-stop(100%,#F94B4B )); /* Chrome,Safari4+ */ 
    background: -webkit-linear-gradient(-135deg,  rg#901919 0%,#F94B4B  100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-135deg,  rg#901919 0%,#F94B4B  100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-135deg,  rg#901919 0%,#F94B4B  100%); /* IE10+ */
    background: linear-gradient(135deg,  #901919 0%,#F94B4B  100%); /* W3C */ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#901919', endColorstr='#F94B4B',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-attachment: fixed;
}

.panelGridInner {
    background-color: #FFECEC;
}
.panelGridOuter {
    background-color: #FFECEC;
}
.optionalPanelGridInner {
    background-color: #FFECEC;
}