@import url(base.css);

html{
    background:  transparent linear-gradient(135deg, #0D2A56 0%, #048DD8  100%) repeat fixed 0% 0%;
    background: -moz-linear-gradient(-135deg,  rg#0D2A56 0%, #048DD8   100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0D2A56), color-stop(100%,#048DD8  )); /* Chrome,Safari4+ */ 
    background: -webkit-linear-gradient(-135deg,  rg#0D2A56 0%,#048DD8   100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-135deg,  rg#0D2A56 0%,#048DD8   100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-135deg,  rg#0D2A56 0%,#048DD8   100%); /* IE10+ */
    background: linear-gradient(135deg,  #0D2A56 0%,#048DD8   100%); /* W3C */ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D2A56', endColorstr='#048DD8 ',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-attachment: fixed;
}
 
.panelGridInner {
    background-color: #FFECEC;
}
.panelGridOuter {
    background-color: #FFECEC;
}
.optionalPanelGridInner {
    background-color: #FFECEC;
}